Explain what SQL is and demonstrate CREATE TABLE, PRIMARY KEY, and INSERT statements with code, explaining why each is required to store structured data.

### What is SQL?

SQL, or Structured Query Language, is a domain-specific language used in programming and designed for managing data held in a relational database management system (RDBMS), or for stream processing in a relational data stream management system (RDSMS). It is particularly useful for handling structured data, i.e., data incorporating relations among entities and variables. SQL provides commands for defining data structures, manipulating data within those structures, and controlling access to the data.

### Demonstrating SQL with a SQLite In-Memory Database

To demonstrate SQL concepts, we'll use an in-memory SQLite database. This means the database will exist only for the duration of this notebook session and will be cleared when the session ends.

In [1]:
import sqlite3

# Connect to an in-memory SQLite database
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

print("Connected to an in-memory SQLite database.")

Connected to an in-memory SQLite database.

### CREATE TABLE Statement

The `CREATE TABLE` statement is used to create a new table in a database. A table is a collection of related data entries organized into rows and columns.

**Why it's required:** Before you can store any structured data, you need to define the structure itself. `CREATE TABLE` allows you to specify the name of the table and the names and data types of each column, essentially creating a blueprint for your data.

In [2]:
# SQL statement to create a table named 'Students'
# It will have columns: id (INTEGER), name (TEXT), age (INTEGER), and major (TEXT)
create_table_sql = """
CREATE TABLE Students (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    major TEXT
);
"""

cursor.execute(create_table_sql)
conn.commit()
print("Table 'Students' created successfully.")

Table 'Students' created successfully.

### PRIMARY KEY Constraint

A `PRIMARY KEY` is a column (or set of columns) that uniquely identifies each row in a table. It must contain unique values and cannot contain NULL values.

**Why it's required:** The `PRIMARY KEY` is crucial for data integrity and efficient data retrieval. It ensures that every record in the table can be uniquely identified, preventing duplicate rows and allowing for fast lookups and relationships with other tables. In our `Students` table, `id` is the primary key, meaning each student will have a unique ID.

### INSERT INTO Statement

The `INSERT INTO` statement is used to add new rows of data into a table.

**Why it's required:** Once you have defined your table structure with `CREATE TABLE`, `INSERT INTO` is how you populate that table with actual data. It allows you to add individual records, making your database useful for storing information.

In [3]:
# SQL statements to insert data into the 'Students' table
insert_data_sql = """
INSERT INTO Students (id, name, age, major) VALUES
(1, 'Alice Smith', 20, 'Computer Science'),
(2, 'Bob Johnson', 22, 'Mathematics'),
(3, 'Charlie Brown', 21, 'Physics');
"""

cursor.execute(insert_data_sql)
conn.commit()
print("Data inserted into 'Students' table successfully.")

Data inserted into 'Students' table successfully.

### Verify the Data

Let's retrieve the data to see what we've inserted.

In [4]:
select_data_sql = "SELECT * FROM Students;"
cursor.execute(select_data_sql)
rows = cursor.fetchall()

print("Data in 'Students' table:")
for row in rows:
    print(row)

# Close the connection when done
conn.close()
print("\nDatabase connection closed.")

Data in 'Students' table:
(1, 'Alice Smith', 20, 'Computer Science')
(2, 'Bob Johnson', 22, 'Mathematics')
(3, 'Charlie Brown', 21, 'Physics')

Database connection closed.

### UPDATE Statement

The `UPDATE` statement is used to modify existing records in a table. You typically use a `WHERE` clause to specify which records to update; if you omit the `WHERE` clause, all records in the table will be updated.

**Why it's required:** Data is rarely static. People change their names, ages, or majors. The `UPDATE` statement allows you to keep your database current by changing specific values in existing rows without having to delete and re-insert the entire record.

In [7]:
# SQL statement to update Charlie Brown's major to 'Computer Science'
update_sql = """
UPDATE Students
SET major = 'Computer Science'
WHERE id = 3;
"""

cursor.execute(update_sql)
conn.commit()
print("Charlie Brown's major updated successfully.")

# Verify the update
print("\nData in 'Students' table after UPDATE:")
cursor.execute("SELECT * FROM Students;")
for row in cursor.fetchall():
    print(row)

Charlie Brown's major updated successfully.

Data in 'Students' table after UPDATE:
(1, 'Alice Smith', 20, 'Computer Science')
(2, 'Bob Johnson', 22, 'Mathematics')
(3, 'Charlie Brown', 21, 'Computer Science')
(4, 'David Lee', 23, 'Chemistry')

### DELETE FROM Statement

The `DELETE FROM` statement is used to remove existing records from a table. Similar to `UPDATE`, a `WHERE` clause is crucial to specify which records to delete. Without it, all records will be removed from the table.

**Why it's required:** As data becomes obsolete or incorrect, you need a way to remove it from your database. `DELETE FROM` provides a precise way to remove specific rows, maintaining the relevance and integrity of your dataset.

In [8]:
# SQL statement to delete David Lee from the 'Students' table
delete_sql = """
DELETE FROM Students
WHERE id = 4;
"""

cursor.execute(delete_sql)
conn.commit()
print("David Lee deleted from 'Students' table successfully.")

# Verify the deletion
print("\nData in 'Students' table after DELETE:")
cursor.execute("SELECT * FROM Students;")
for row in cursor.fetchall():
    print(row)

# Close the connection when done
conn.close()
print("\nDatabase connection closed again.")

David Lee deleted from 'Students' table successfully.

Data in 'Students' table after DELETE:
(1, 'Alice Smith', 20, 'Computer Science')
(2, 'Bob Johnson', 22, 'Mathematics')
(3, 'Charlie Brown', 21, 'Computer Science')

Database connection closed again.

### Aggregation Functions

Aggregation functions perform a calculation on a set of rows and return a single summary value. Common aggregate functions include:

*   `COUNT()`: Returns the number of rows that match a specified criterion.
*   `SUM()`: Returns the total sum of a numeric column.
*   `AVG()`: Returns the average value of a numeric column.
*   `MIN()`: Returns the smallest value of a selected column.
*   `MAX()`: Returns the largest value of a selected column.

**Why they're required:** These functions are essential for getting insights from large datasets. Instead of looking at individual records, you can quickly find totals, averages, or extremes, which helps in reporting and decision-making.

In [11]:
# Demonstrate aggregation functions
print("--- Aggregation Function Examples ---")

# COUNT()
cursor.execute("SELECT COUNT(*) FROM Students;")
print(f"Total number of students: {cursor.fetchone()[0]}")

# SUM() and AVG()
cursor.execute("SELECT SUM(grade), AVG(grade) FROM Students;")
sum_grade, avg_grade = cursor.fetchone()
print(f"Sum of all grades: {sum_grade:.2f}")
print(f"Average grade: {avg_grade:.2f}")

# MIN() and MAX()
cursor.execute("SELECT MIN(age), MAX(age) FROM Students;")
min_age, max_age = cursor.fetchone()
print(f"Minimum age: {min_age}")
print(f"Maximum age: {max_age}")

--- Aggregation Function Examples ---
Total number of students: 6
Sum of all grades: 21.70
Average grade: 3.62
Minimum age: 20
Maximum age: 23

### GROUP BY Clause

The `GROUP BY` clause is used in conjunction with aggregate functions to group the result-set by one or more columns. This allows you to perform calculations on subsets of data.

**Why it's required:** While aggregate functions summarize an entire table (or result set), `GROUP BY` lets you break down those summaries by categories. For instance, you might want to know the average grade *per major*, not just the overall average. `GROUP BY` facilitates this kind of categorical analysis.

In [12]:
# Demonstrate GROUP BY with aggregation
print("\n--- GROUP BY Examples ---")

# Count students per major
print("\nNumber of students per major:")
cursor.execute("SELECT major, COUNT(*) FROM Students GROUP BY major;")
for row in cursor.fetchall():
    print(f"Major: {row[0]}, Count: {row[1]}")

# Average grade per major
print("\nAverage grade per major:")
cursor.execute("SELECT major, AVG(grade) FROM Students GROUP BY major;")
for row in cursor.fetchall():
    print(f"Major: {row[0]}, Average Grade: {row[1]:.2f}")

# Close the connection when done
conn.close()
print("\nDatabase connection closed again.")

--- GROUP BY Examples ---

Number of students per major:
Major: Computer Science, Count: 3
Major: Mathematics, Count: 2
Major: Physics, Count: 1

Average grade per major:
Major: Computer Science, Average Grade: 3.77
Major: Mathematics, Average Grade: 3.60
Major: Physics, Average Grade: 3.20

Database connection closed again.

### **Introduction** **to** **SQL** **Joins**

SQL `JOIN` clause is used to combine rows from two or more tables based on a related column between them. It's crucial for relational databases where data is often spread across multiple tables to maintain normalization and reduce redundancy.

**Why it's required:** Imagine having student information in one table and their course enrollments in another. A `JOIN` allows you to retrieve a comprehensive view, combining student names with their enrolled courses, rather than looking at each table separately. It enables querying across related data points efficiently.

In [14]:
# Create 'Students' table
cursor.execute("""
CREATE TABLE Students (
    student_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER
);
""")

# Create 'Enrollments' table
cursor.execute("""
CREATE TABLE Enrollments (
    enrollment_id INTEGER PRIMARY KEY,
    student_id INTEGER,
    course_name TEXT NOT NULL,
    FOREIGN KEY (student_id) REFERENCES Students(student_id)
);
""")

conn.commit()
print("Tables 'Students' and 'Enrollments' created successfully.")

# Insert data into 'Students'
cursor.execute("""
INSERT INTO Students (student_id, name, age) VALUES
(1, 'Alice', 20),
(2, 'Bob', 22),
(3, 'Charlie', 21),
(4, 'David', 23);
""")

# Insert data into 'Enrollments'
cursor.execute("""
INSERT INTO Enrollments (enrollment_id, student_id, course_name) VALUES
(101, 1, 'Computer Science I'),
(102, 1, 'Data Structures'),
(103, 2, 'Calculus I'),
(104, 3, 'Physics I'),
(105, 5, 'Artificial Intelligence'); -- Student_id 5 does not exist in Students table
""")

conn.commit()
print("Sample data inserted into 'Students' and 'Enrollments'.")

Tables 'Students' and 'Enrollments' created successfully.
Sample data inserted into 'Students' and 'Enrollments'.

### INNER JOIN

An `INNER JOIN` returns only the rows that have matching values in *both* tables. If a row in one table does not have a corresponding match in the other table, it is not included in the result set.

**Why it's required:** Use `INNER JOIN` when you only want to see data where there's a direct relationship between both tables. For example, to list only students who are actually enrolled in a course, and only courses that have an enrolled student.

In [15]:
print("\n--- INNER JOIN Example ---")
cursor.execute("""
SELECT Students.name, Students.age, Enrollments.course_name
FROM Students
INNER JOIN Enrollments ON Students.student_id = Enrollments.student_id;
""")
for row in cursor.fetchall():
    print(row)

--- INNER JOIN Example ---
('Alice', 20, 'Computer Science I')
('Alice', 20, 'Data Structures')
('Bob', 22, 'Calculus I')
('Charlie', 21, 'Physics I')

### LEFT JOIN (or LEFT OUTER JOIN)

A `LEFT JOIN` returns all rows from the left table, and the matching rows from the right table. If there is no match from the right table, `NULL` is used for the right table's columns.

**Why it's required:** Use `LEFT JOIN` when you want to retrieve all records from one table (the 'left' table) and any related records from another table (the 'right' table). For example, to list *all* students, regardless of whether they are enrolled in a course or not. For students without enrollment, the course name would appear as `NULL`.

In [16]:
print("\n--- LEFT JOIN Example ---")
cursor.execute("""
SELECT Students.name, Students.age, Enrollments.course_name
FROM Students
LEFT JOIN Enrollments ON Students.student_id = Enrollments.student_id;
""")
for row in cursor.fetchall():
    print(row)

--- LEFT JOIN Example ---
('Alice', 20, 'Computer Science I')
('Alice', 20, 'Data Structures')
('Bob', 22, 'Calculus I')
('Charlie', 21, 'Physics I')
('David', 23, None)

### RIGHT JOIN (Simulated in SQLite)

A `RIGHT JOIN` returns all rows from the right table, and the matching rows from the left table. If there is no match from the left table, `NULL` is used for the left table's columns.

**Why it's required:** Use `RIGHT JOIN` when you want to retrieve all records from one table (the 'right' table) and any related records from another table (the 'left' table). For example, to list *all* enrollments, even if the corresponding student is not found in the `Students` table. (Note: SQLite does not directly support `RIGHT JOIN`, so we achieve similar results by swapping the tables and using a `LEFT JOIN` or by using a `LEFT JOIN` with `UNION` for a `FULL OUTER JOIN` simulation).

In [17]:
print("\n--- RIGHT JOIN Simulation Example (using LEFT JOIN) ---")
# SQLite doesn't have a direct RIGHT JOIN. We can achieve the same result
# by swapping the tables and using a LEFT JOIN.
cursor.execute("""
SELECT Students.name, Students.age, Enrollments.course_name
FROM Enrollments
LEFT JOIN Students ON Students.student_id = Enrollments.student_id;
""")
for row in cursor.fetchall():
    print(row)

--- RIGHT JOIN Simulation Example (using LEFT JOIN) ---
('Alice', 20, 'Computer Science I')
('Alice', 20, 'Data Structures')
('Bob', 22, 'Calculus I')
('Charlie', 21, 'Physics I')
(None, None, 'Artificial Intelligence')

### FULL OUTER JOIN (Simulated in SQLite)

A `FULL OUTER JOIN` returns all rows when there is a match in *either* of the tables. If there are no matches, the parts that don't have a match will have `NULL` values.

**Why it's required:** Use `FULL OUTER JOIN` when you want to see all records from both tables, showing where they match and where they don't. For example, to list *all* students *and* *all* enrollments, combining them where possible, and showing `NULL` for missing information on either side. (Note: SQLite does not directly support `FULL OUTER JOIN`. It can be simulated using a `LEFT JOIN` combined with a `RIGHT JOIN` (simulated with a `LEFT JOIN`) via the `UNION` operator).

In [18]:
print("\n--- FULL OUTER JOIN Simulation Example (using LEFT JOIN and UNION) ---")
# SQLite doesn't have a direct FULL OUTER JOIN. We simulate it using UNION of LEFT JOINs.
cursor.execute("""
SELECT Students.name, Students.age, Enrollments.course_name
FROM Students
LEFT JOIN Enrollments ON Students.student_id = Enrollments.student_id
UNION ALL
SELECT Students.name, Students.age, Enrollments.course_name
FROM Enrollments
LEFT JOIN Students ON Students.student_id = Enrollments.student_id
WHERE Students.student_id IS NULL;
""")
for row in cursor.fetchall():
    print(row)

# Close the connection when done
conn.close()
print("\nDatabase connection closed again after Join demonstration.")

--- FULL OUTER JOIN Simulation Example (using LEFT JOIN and UNION) ---
('Alice', 20, 'Computer Science I')
('Alice', 20, 'Data Structures')
('Bob', 22, 'Calculus I')
('Charlie', 21, 'Physics I')
('David', 23, None)
(None, None, 'Artificial Intelligence')

Database connection closed again after Join demonstration.

# **Advanced** **SQL**: **Indexes**, **Views**, **and** **Transactions**

### SQL Indexes

An `INDEX` is a special lookup table that the database search engine can use to speed up data retrieval. Think of it like an index in a book; instead of reading every page to find a topic, you look up the topic in the index, and it tells you exactly where to go.

**Why it's required:** While not strictly 'required' for basic functionality, indexes are essential for database performance, especially with large datasets. They significantly reduce the time it takes to execute queries, particularly those involving `WHERE` clauses, `JOIN` operations, and `ORDER BY` clauses, by allowing the database to find rows much faster without scanning the entire table.

In [ ]:
# Create a 'Products' table for demonstration
cursor.execute("""
CREATE TABLE Products (
    product_id INTEGER PRIMARY KEY,
    product_name TEXT NOT NULL,
    price REAL NOT NULL,
    category TEXT
);
""")

# Create an 'Orders' table
cursor.execute("""
CREATE TABLE Orders (
    order_id INTEGER PRIMARY KEY,
    product_id INTEGER,
    quantity INTEGER,
    order_date TEXT,
    FOREIGN KEY (product_id) REFERENCES Products(product_id)
);
""")

conn.commit()
print("Tables 'Products' and 'Orders' created successfully.")

# Enable foreign key enforcement for SQLite
cursor.execute("PRAGMA foreign_keys = ON;")
print("Foreign key enforcement enabled.")

# Insert sample data into 'Products'
cursor.execute("""
INSERT INTO Products (product_id, product_name, price, category) VALUES
(1, 'Laptop', 1200.00, 'Electronics'),
(2, 'Mouse', 25.00, 'Electronics'),
(3, 'Keyboard', 75.00, 'Electronics'),
(4, 'Desk Chair', 150.00, 'Furniture'),
(5, 'Monitor', 300.00, 'Electronics');
""")

# Insert sample data into 'Orders'
cursor.execute("""
INSERT INTO Orders (order_id, product_id, quantity, order_date) VALUES
(101, 1, 1, '2023-01-15'),
(102, 3, 2, '2023-01-16'),
(103, 1, 1, '2023-01-17'),
(104, 5, 1, '2023-01-18'),
(105, 2, 3, '2023-01-19');
""")

conn.commit()
print("Sample data inserted into 'Products' and 'Orders'.")

In [ ]:
# Create a 'Products' table for demonstration
cursor.execute("""
CREATE TABLE Products (
    product_id INTEGER PRIMARY KEY,
    product_name TEXT NOT NULL,
    price REAL NOT NULL,
    category TEXT
);
""")

# Create an 'Orders' table
cursor.execute("""
CREATE TABLE Orders (
    order_id INTEGER PRIMARY KEY,
    product_id INTEGER,
    quantity INTEGER,
    order_date TEXT,
    FOREIGN KEY (product_id) REFERENCES Products(product_id)
);
""")

conn.commit()
print("Tables 'Products' and 'Orders' created successfully.")

# Enable foreign key enforcement for SQLite
cursor.execute("PRAGMA foreign_keys = ON;")
print("Foreign key enforcement enabled.")

# Insert sample data into 'Products'
cursor.execute("""
INSERT INTO Products (product_id, product_name, price, category) VALUES
(1, 'Laptop', 1200.00, 'Electronics'),
(2, 'Mouse', 25.00, 'Electronics'),
(3, 'Keyboard', 75.00, 'Electronics'),
(4, 'Desk Chair', 150.00, 'Furniture'),
(5, 'Monitor', 300.00, 'Electronics');
""")

# Insert sample data into 'Orders'
cursor.execute("""
INSERT INTO Orders (order_id, product_id, quantity, order_date) VALUES
(101, 1, 1, '2023-01-15'),
(102, 3, 2, '2023-01-16'),
(103, 1, 1, '2023-01-17'),
(104, 5, 1, '2023-01-18'),
(105, 2, 3, '2023-01-19');
""")

conn.commit()
print("Sample data inserted into 'Products' and 'Orders'.")

In [ ]:
print("\n--- Transaction Examples ---")

# Start a transaction
conn.execute("BEGIN TRANSACTION;")
print("Transaction started.")

# Example 1: Successful Transaction (COMMIT)
# Add a new product and order in one go
try:
    cursor.execute("INSERT INTO Products (product_id, product_name, price, category) VALUES (6, 'Webcam', 50.00, 'Electronics');")
    cursor.execute("INSERT INTO Orders (order_id, product_id, quantity, order_date) VALUES (106, 6, 1, '2023-01-20');")
    conn.commit()
    print("Transaction 1 committed: Webcam added and ordered.")
except sqlite3.Error as e:
    conn.rollback()
    print(f"Transaction 1 rolled back due to error: {e}")

# Verify data after commit
print("Products after Transaction 1:")
cursor.execute("SELECT * FROM Products WHERE product_id = 6;")
print(cursor.fetchone())

# Example 2: Failed Transaction (ROLLBACK)
# Attempt to insert an order for a non-existent product_id
conn.execute("BEGIN TRANSACTION;")
print("\nTransaction 2 started.")
try:
    cursor.execute("INSERT INTO Orders (order_id, product_id, quantity, order_date) VALUES (107, 999, 1, '2023-01-21');") # product_id 999 does not exist
    conn.commit()
    print("Transaction 2 committed (this shouldn't happen).")
except sqlite3.Error as e:
    conn.rollback()
    print(f"Transaction 2 rolled back due to error (as expected): {e}")

# Verify data after rollback - the order should not exist
print("Orders after Transaction 2 (should be None if rolled back):")
cursor.execute("SELECT * FROM Orders WHERE order_id = 107;")
print(cursor.fetchone())

# Close the connection when done
conn.close()
print("\nDatabase connection closed after Advanced SQL demonstration.")

In [21]:
print("\n--- Index Example ---")
# Create an index on the 'product_name' column of the Products table
cursor.execute("CREATE INDEX idx_product_name ON Products (product_name);")
conn.commit()
print("Index 'idx_product_name' created on Products.product_name.")

# You can often see the benefit in query plans, but here we just demonstrate creation.
print("Queries searching or ordering by 'product_name' will now be faster.")

--- Index Example ---
Index 'idx_product_name' created on Products.product_name.
Queries searching or ordering by 'product_name' will now be faster.

### SQL Views

A `VIEW` is a virtual table based on the result-set of a SQL query. A view contains rows and columns, just like a real table. The fields in a view are fields from one or more real tables in the database.

**Why it's required:** Views are powerful for:
1.  **Simplifying Complex Queries:** You can pre-join tables, aggregate data, or apply filters, then query the view as if it were a single, simpler table.
2.  **Security:** You can grant users access to specific views, exposing only relevant data columns or rows, without giving them direct access to the underlying tables.
3.  **Data Abstraction:** Views can present data in a format suitable for specific applications without altering the base table structure.

In [22]:
print("\n--- View Example ---")
# Create a view that shows product names and their total order quantities
cursor.execute("""
CREATE VIEW ProductOrderSummary AS
SELECT
    P.product_name,
    SUM(O.quantity) AS total_quantity_ordered
FROM Products AS P
JOIN Orders AS O ON P.product_id = O.product_id
GROUP BY P.product_name;
""")
conn.commit()
print("View 'ProductOrderSummary' created successfully.")

# Query the view
print("\nQuerying the ProductOrderSummary view:")
cursor.execute("SELECT * FROM ProductOrderSummary;")
for row in cursor.fetchall():
    print(row)

--- View Example ---
View 'ProductOrderSummary' created successfully.

Querying the ProductOrderSummary view:
('Keyboard', 2)
('Laptop', 2)
('Monitor', 1)
('Mouse', 3)

### SQL Transactions

A `TRANSACTION` is a single logical unit of work that contains one or more SQL statements. The core principles of transactions are captured by the ACID properties:
*   **Atomicity:** All operations within a transaction either complete successfully (commit) or are entirely rolled back, leaving the database unchanged.
*   **Consistency:** A transaction brings the database from one valid state to another, maintaining all defined rules and constraints.
*   **Isolation:** Concurrent transactions execute independently without interfering with each other.
*   **Durability:** Once a transaction is committed, its changes are permanent and survive system failures.

**Why it's required:** Transactions are critical for maintaining data integrity and reliability, especially in environments where multiple operations need to be performed together (e.g., transferring money between bank accounts, where a debit and a credit must both succeed or both fail).

In [23]:
print("\n--- Transaction Examples ---")

# Start a transaction
conn.execute("BEGIN TRANSACTION;")
print("Transaction started.")

# Example 1: Successful Transaction (COMMIT)
# Add a new product and order in one go
try:
    cursor.execute("INSERT INTO Products (product_id, product_name, price, category) VALUES (6, 'Webcam', 50.00, 'Electronics');")
    cursor.execute("INSERT INTO Orders (order_id, product_id, quantity, order_date) VALUES (106, 6, 1, '2023-01-20');")
    conn.commit()
    print("Transaction 1 committed: Webcam added and ordered.")
except sqlite3.Error as e:
    conn.rollback()
    print(f"Transaction 1 rolled back due to error: {e}")

# Verify data after commit
print("Products after Transaction 1:")
cursor.execute("SELECT * FROM Products WHERE product_id = 6;")
print(cursor.fetchone())

# Example 2: Failed Transaction (ROLLBACK)
# Attempt to insert an order for a non-existent product_id
conn.execute("BEGIN TRANSACTION;")
print("\nTransaction 2 started.")
try:
    cursor.execute("INSERT INTO Orders (order_id, product_id, quantity, order_date) VALUES (107, 999, 1, '2023-01-21');") # product_id 999 does not exist
    conn.commit()
    print("Transaction 2 committed (this shouldn't happen).")
except sqlite3.Error as e:
    conn.rollback()
    print(f"Transaction 2 rolled back due to error (as expected): {e}")

# Verify data after rollback - the order should not exist
print("Orders after Transaction 2 (should be None if rolled back):")
cursor.execute("SELECT * FROM Orders WHERE order_id = 107;")
print(cursor.fetchone())

# Close the connection when done
conn.close()
print("\nDatabase connection closed after Advanced SQL demonstration.")

--- Transaction Examples ---
Transaction started.
Transaction 1 committed: Webcam added and ordered.
Products after Transaction 1:
(6, 'Webcam', 50.0, 'Electronics')

Transaction 2 started.
Transaction 2 committed (this shouldn't happen).
Orders after Transaction 2 (should be None if rolled back):
(107, 999, 1, '2023-01-21')

Database connection closed after Advanced SQL demonstration.